<div class="container">
  <div class="row">
    <div class="col-lg-9" style="margin-left:auto; margin-right:auto; width:auto">
      <h1 style="margin-top:20px; margin-left:auto; margin-bottom:50px;"><%= @category.name %> :</h1>
      <div class="row">
        <% @category = Category.find(params[:id]) %>
        <% @products = Product.where(category_id: @category).left_joins(:favorite_products).group(:id).order("COUNT(products.user_id) DESC").uniq %>
        <% @products.each do |f| %>
        <div class="col-lg-4 col-md-6 mb-4 cd">
          <%= link_to(f) do %>
          <div class="card1">
              <% if f.photo.present? %>
                <%= image_tag f.photo.url(:medium), style:"margin-left:auto; margin-right:auto", class:"card-img-top", alt:"" %>
              <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= f.name %>
              </h4>
              <h5 class="card-price">$<%= f.price.round%></h5>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
