<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark" style="position:sticky;top: 0; z-index:100">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
      <% @cart = current_user.favorites.length %>
      <% end %>
      <li class="nav-item">
        <%= link_to "/", class:"navbar-brand" do %>
        <img src="https://s3-sa-east-1.amazonaws.com/hornero-recetas/products/photos/000/000/007/original/IconoB.png" width="30" height="30" alt="">
        <% end %>
      </li>
      <% if !current_user %>
      <li class="nav-item">
        <%= link_to "Comprar", products_path, class:"nav-link" %>
      </li>
      <% end %>

      <% if current_user && current_user.admin? %>
      <li class="nav-item">
        <%= link_to "Producto Nuevo", new_product_path, class:"nav-link" %>
      </li>
      <% end %>

      <% if current_user %>
      <li class="nav-item">
        <%= link_to "Productos", products_path, class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Salir", destroy_user_session_path, class:"nav-link", :method => 'delete' %>
      </li>
      <% end %>
    </ul>
</header>
