<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Hornero", root_path, class:"navbar-brand" %>
      </li>
      <% if !current_user %>
      <li class="nav-item">
        <%= link_to "Comprar", products_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Carrito", home_carrito_path, class:"nav-link" %>
      </li>
      <% end %>

      <% if current_user && current_user.admin? %>
      <li class="nav-item">
        <%= link_to "Producto Nuevo", new_product_path, class:"nav-link" %>
      </li>
      <% end %>

      <% if current_user %>
      <li class="nav-item">
        <%= link_to "Productos", products_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Carrito", home_carrito_path, class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Salir", destroy_user_session_path, class:"nav-link", :method => 'delete' %>
      </li>
      <% end %>
    </ul>
</header>
